body, html {
    height: 100%;
    display: grid;
  }
  
body {
    background-image: url('bg.jpg');
    
}

.main {
    margin: auto;
    text-align: center;
    max-width: 50vw;
}

.center-fit {
    padding-top: 1em;
    max-height: 50vh;
    max-width: 50vw;
}

.buttons * {
    margin: 1em;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

footer {
    margin: 1em;
}

footer img {
    vertical-align: bottom;
}