@media only screen and (max-width: 300px) {
    body {
      color: yellow;
    }
  }

body, html {
    height: 100%;
    display: grid;
  }
  
body {
    background-image: url('bg.jpg');
    
}

.main {
    margin: auto;
    text-align: center;
    max-width: 90vw;
}

.center-fit {
    max-height: 50vh;
    max-width: 50vw;
}

.buttons button {
    margin: 0.5em;
}

.buttons {
    margin: 0.5em;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

footer {
    margin: 1em;
}

footer img {
    vertical-align: bottom;
    transition-duration: 2s;
    transition-property: transform;
}

footer img:hover,
footer a:hover img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
